# Server Configuration
PORT=3000
NODE_ENV=development

OPENAI_API_KEY=sk-*

# Instagram Configuration
INSTAGRAM_DRY_RUN=false # Simulate without posting
INSTAGRAM_USERNAME=shoonyaai
INSTAGRAM_PASSWORD=
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=
INSTAGRAM_BUSINESS_ACCOUNT_ID= # Business Account ID
INSTAGRAM_POST_INTERVAL_MIN=60 # Min interval (min)
INSTAGRAM_POST_INTERVAL_MAX=120 # Max interval (min)
INSTAGRAM_ENABLE_ACTION_PROCESSING=false # Enable actions
INSTAGRAM_ACTION_INTERVAL=5 # Action interval (min)
INSTAGRAM_MAX_ACTIONS=1 # Max actions per cycle
INSTAGRAM_SHOONYA_STORE_USERID=73444580395
DEFAULT_TARGET_USERNAME=shoonyastore
COMMENT_POST_LIMIT=5

# Posting Configuration
POST_INTERVAL_MIN=90
POST_INTERVAL_MAX=180
ENABLE_ACTION_PROCESSING=true
ACTION_INTERVAL=5
MAX_ACTIONS_PROCESSING=1

# Security
CORS_ORIGIN=*
API_KEY=your_api_key_here

# Logging
LOG_LEVEL=debug

# Cron Jobs
CRON_ENABLED=true
